h1{
  color:red;
  font-size: 200px;
}
/*img{
  background-color: blue;
  transform: rotate(10deg);
}
*/

/*******************CLASS SELECTORS****************/

.mango {
  background-color: green;
}

.apple {
  background-color: red;
}
